html, body {
    height: 100%;
    width: 100%;
}

section {
    position: relative;

    height: 100%;
    width: 100%;
}

section.main {
    position: fixed;
    top: 65px;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: calc(100% - 65px);
}

.light-style {
    color: rgba(45,45,45,1);
    background-color: rgba(255,255,255,1);
}
.dark-style {
    background-color: rgba(45,45,45,1);
    color: rgba(255,255,255,1);
}

md-toolbar {
    height: 65px;
}
