section#datasets-page div.datasets-wrapper {
    height: 100%;
}

section#datasets-page div.datasets,
section#datasets-page div.dataset-info,
section#datasets-page div.dataset-resources {
    height: 100%;
    overflow-y: auto;
}

section#datasets-page div.datasets md-list-item {
    height: 98px;
    border-bottom: 1px solid rgba(45, 45, 45, 1);
    border-top: 1px solid rgba(45, 45, 45, 1);
}

section#datasets-page div.dataset-info div.info-title,
section#datasets-page div.dataset-resources div.resource-title {
    width: 90%;
    margin: 40px auto;

    text-align: center;
}

section#datasets-page div.dataset-info div.info-item {
    margin: 20px auto;
    width: 90%;
}

section#datasets-page div.dataset-info div.info-label {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    margin-bottom: 5px;
}

section#datasets-page div.dataset-resources div.resource-item {
    margin: 10px auto;
}

section#resource-dialog {
    width: 700px;
    height: 700px;
}

section#resource-dialog div.resource-url {
    padding: 0 10px;

    font-size: 16px;
}

section#resource-dialog div.resource-viewer-container {
    height: 100%;
    width: 100%;
    overflow: auto;
}

section#resource-dialog div.resource-viewer {
    padding: 10px;
}

section#resource-dialog md-content {
    height: calc(100% - 65px);
}

md-content,
md-list,
md-virtual-repeat-container {
    background: transparent;
    height: 100%;
}

md-list {
    padding: 0;
}

md-list .md-list-item-inner span {
    line-height: normal;
}

.method-get {
    padding: 5px;

    background-color: rgba(46, 204, 113, 1);
    color: rgba(0, 0, 0, 1);
}
