section#datasets-page {
    position: relative;

    height: 100%;
    width: 100%;
}

div.datasets,
div.dataset-info,
div.dataset-files {
    height: 100%;
    overflow-y: auto;
}

div.datasets {
    width: 20%;
    background: rgba(45, 45, 45, 1);
}

div.dataset-info {
    width: 30%;
    background: #3d3a3a;
    padding: 25px;
}

div.info-row {
    margin-bottom: 15px;
    font-size: 0.7em;
}

div.info-label {
    margin-bottom: 5px;
    font-size: 0.9em;
    color: #ffffff;
    font-weight: 600;
}

div.info-data{
    color: white;
    color: #9e9d9d;
    text-align: left;
}

body {
    background: #4b4a4a;
    color: #ccc8c8;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background: #626066;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    background: #262626;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    background-color: rgb(63, 81, 181);
    color: rgba(255, 255, 255, 0.87);
}

md-toolbar {
    min-height: 0;
}


.header-title{
    height: 50px;
}
.end-point-info{
    display: inline-block;
    color: white;
}
.end-point-label{
    display: inline-block;
    margin: 15px;
    margin-right: 25px;
    font-weight: 600;
    background: rgb(63, 181, 72);
    border-radius: 15px;
    padding: 7px;
    color: white;
}

.header-title{
    height: 50px;
    background: rgb(86, 127, 240);
    padding: 10px;
}


.json-parsed{
    padding: 25px;
    background: #eeeeee;
}

.pop-up{
    min-width: 800px;

}